#include "src/version.h"
#include "afxres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,7,0,0
 PRODUCTVERSION 0,7,0,0
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "3proxy - tiny proxy server, http://3proxy.ru/"
            VALUE "CompanyName", "Vladimir Dubrovin"
            VALUE "FileDescription", "3proxy - tiny proxy server"
            VALUE "FileVersion", VERSION "-" BUILDDATE
            VALUE "InternalName", "3proxy"
            VALUE "LegalCopyright", "Copyright (C) 2002-2009 Vladimir Dubrovin"
            VALUE "OriginalFilename", "3proxy.exe"
            VALUE "ProductName", "3proxy"
            VALUE "ProductVersion", VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

