#include "version.h"

1 VERSIONINFO
FILEVERSION MAJOR3PROXY,SUBMAJOR3PROXY,MINOR3PROXY,SUBMINOR3PROXY
PRODUCTVERSION MAJOR3PROXY,SUBMAJOR3PROXY,MINOR3PROXY,SUBMINOR3PROXY
FILETYPE 1
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "3proxy - tiny proxy server, https://3proxy.org/\0"
            VALUE "CompanyName", "Vladimir Dubrovin\0"
            VALUE "FileDescription", "3proxy - tiny proxy server\0"
            VALUE "FileVersion", RELEASE3PROXY
            VALUE "InternalName", "3proxy\0"
            VALUE "LegalCopyright", "Copyright (C) 2002-" YEAR3PROXY " Vladimir Dubrovin\0"
            VALUE "OriginalFilename", "3proxy.exe\0"
            VALUE "ProductName", "3proxy\0"
            VALUE "ProductVersion", RELEASE3PROXY
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
0 ICON    DISCARDABLE     "3proxy.ico"
